body {
	background: yellow;
}
.header {
	width: 100%;
	background: red;
	height: 20%;
	padding: 0;
}
.content {
	background: blue;
	width: 70%;
	height: 70%;
	margin: auto;
}
.footer {
	width: 70%;
	background: green;
	height: 10%;
	margin: auto;
}